Django==6.0.5
Pillow==10.3.0
requests==2.32.3
matplotlib==3.9.0
python-dateutil==2.9.0
pytz==2026.2
psycopg2-binary==2.9.9
gunicorn==22.0.0
whitenoise==6.7.0
coverage==7.5.3
django-environ==0.11.2
dj-database-url==2.2.0
